@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #3c3b40;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #f6f8fc;
}

.conteudo {
    border-top: 0.4px solid black;    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 60px 40px 60px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #f6f8fc;
}

.conteudo-principal-resumo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #f6f8fc;
}

.conteudo-principal-botao {
    background-color: #ea5e21;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #f6f8fc ;
}

.conteudo-principal-botao:hover {
    background-color: #c1953e;
}

.rodape {
    padding: 20px;
    border-top: 0.4px solid black;    
}

.rodape-icons {
    margin-left: 35px;
}